*{
padding: 0;
margin: 0;
color: rgb(77, 17, 126) ;
}
#navbar{
height: 60px;
background-color: #0f9b9b;
}
   
button{
    background-color: #f08804;
}   
#logo{
color: #252019;
font-size: 25px;
}
a{
    margin-right: 200px;
    text-decoration: dashed;
}